h1 ホーム画面

.navbar.justify-content-end 

= link_to 'ミルク一覧', milks_path, class: 'nav-link'

= link_to 'ミルク入力', new_milk_path, class: 'btn btn-primary'

= link_to '食事一覧', meals_path, class: 'nav-link'

= link_to 'お風呂一覧', baths_path, class: 'nav-link'

= link_to 'お薬一覧', medicines_path, class: 'nav-link'

= link_to 'うんちおしっこ一覧', execretions_path, class: 'nav-link'

= link_to '症状一覧', symptoms_path, class: 'nav-link'

= link_to '予防接種一覧', vaccinations_path, class: 'nav-link'