h1 ホーム画面

.navbar.justify-content-end 

= link_to 'ミルク入力', new_milk_path, class: 'btn btn-primary'

= link_to '食事入力', new_meal_path, class: 'btn btn-primary'

= link_to 'お風呂入力', new_bath_path, class: 'btn btn-primary'

= link_to 'お薬入力', new_medicine_path, class: 'btn btn-primary'

= link_to 'うんちおしっこ入力', new_execretion_path, class: 'btn  btn-primary'

= link_to '症状入力', new_symptom_path, class: 'btn btn-primary'

= link_to '予防接種入力', new_vaccination_path, class: 'btn btn-primary'

= link_to '日記入力', new_diary_path, class: 'btn btn-primary'

= link_to '体温入力', new_temperature_path, class: 'btn btn-primary'