h1 頭囲の編集

= render_breadcrumbs separator: '>'

.nav.justify-content-end 
  = link_to '頭囲一覧', head_circumferences_path, class: 'nav-link'

= render partial: 'form', locals: { head_circumference: @head_circumference }