= render_breadcrumbs separator: '>'

h1 頭囲の新規登録

.nav.justify-content-end 
  = link_to '一覧', head_circumferences_path, class: 'nav-link'

= render partial: 'form', locals: { head_circumference: @head_circumference }